<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button clear color="dark" (click)="dismiss()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-item lines="none" class="icoFav"><div><ion-icon name="receipt-outline"></ion-icon>
      {{id == 'add'? 'Añadir Producto' : 'Editar Producto'}}
    </div></ion-item>
    <ion-buttons slot="end">
      <ion-icon  class="btnCartTop" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

</ion-content>
