<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button clear color="dark" (click)="dismiss()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-item lines="none" class="icoFav"><div><ion-icon name="receipt-outline"></ion-icon>
      {{id == 'add'? 'Añadir Producto' : 'Editar Producto'}}
    </div></ion-item>
    <ion-buttons slot="end">
      <ion-icon  class="btnCartTop" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content> 
    <!-- <ion-icon class="icoFav" name="heart"></ion-icon> -->
    <ion-slides pager class="Slide" [options]="slideOpts" >
      <ion-slide [ngStyle]="background()" >
          <ion-icon (click)="onDeleteImg(1)" class="btnDeleteImg" name="trash-outline"></ion-icon>
      </ion-slide>
    </ion-slides>
  <form #form="ngForm" (ngSubmit)="action(form)" method="post">
      <ion-item>
          <ion-label position="floating">Título</ion-label>
          <ion-input [(ngModel)]="food.title" name="title"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input [(ngModel)]="food.price" type="number" name="price"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Moneda</ion-label>
          <ion-select [(ngModel)]="food.moneyType" name="moneyType" ngModel >
              <ion-select-option >CUP</ion-select-option >
              <ion-select-option >CUC</ion-select-option >
          </ion-select>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea [(ngModel)]="food.description" #textarea placeholder="Escribe la descripción" heigth="120" lineHeight="120" maxExpand="120" ngModel type="number" name="description"></ion-textarea>
      </ion-item>
     
      <ion-button type="submit" expand="full" color="primary">Guardar</ion-button>
    </form>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab>
        <ion-fab-button color="primary">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button (click)="onGallery()" ><ion-icon name="images-outline"></ion-icon></ion-fab-button>
          <ion-fab-button  (click)="onCamera()" ><ion-icon name="camera-outline"></ion-icon></ion-fab-button>
        </ion-fab-list>		
      </ion-fab>
</ion-content>
