<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none" class="icoFav"><div><ion-icon  name="settings-outline"></ion-icon>Perfil</div></ion-item>
    <ion-buttons slot="end">
      <ion-icon  class="btnCartTop"  (click)="onClickCardTop()"  name="cart-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-avatar class="imgPerfil">
        <ion-img  [src]="user['profile_picture']" ></ion-img>
        <ion-icon (click)="onCamera()" class="btnCamera" name="camera-outline"></ion-icon>
    </ion-avatar>
    <form #form="ngForm" (ngSubmit)="update(form)" method="post">
      <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input readonly="true" [(ngModel)]="user.username" name="username"></ion-input>
      </ion-item>
      
      <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="user['first_name']" name="first_name"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input [(ngModel)]="user['last_name']" name="last_name"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email"  [(ngModel)]="user.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Télefono fijo</ion-label>
          <ion-input name="phone_number"  [(ngModel)]="user['phone_number']" ></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input name="movil_number"  [(ngModel)]="user['movil_number']" ></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Provincia</ion-label>
          <ion-select name="provincia" ngModel >
          <ion-select-option >Santiago de Cuba</ion-select-option >
          </ion-select>
      </ion-item>
    
      <ion-button type="submit" expand="full" color="primary">Guardar</ion-button>
    </form>

    <ion-button (click)="changePassword()" type="submit" expand="full" color="danger">Cambiar Contraseña</ion-button>
  </ion-content>  
