<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button clear color="dark" (click)="dismissDetails()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>ATuPuerta</ion-title>
      <ion-buttons slot="end">
        <ion-icon class="btnCartTop"  (click)="onClickCardTop()"  name="cart-outline"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content> 
    <ion-icon (click)="onFavorite()" class="icoFav" name="{{favorite? 'heart' : 'heart-outline'}}"></ion-icon>
    <!-- <ion-icon class="icoFav" name="heart"></ion-icon> -->
    <ion-slides pager class="Slide" [options]="slideOpts" >
        <ion-slide [ngStyle]="background()" >
        </ion-slide>
      </ion-slides>
      <div class="details">
        <div class="divDetails">
            <h4 class="title">Pollo Asado</h4>
            <span class="spanPrice">$50.00 CUP</span>
        </div>

        <div class="cartDiv">
            <ion-icon (click)="cantidad= (cantidad > 1)? cantidad-1 : cantidad" name="chevron-back-outline"></ion-icon>
            <ion-input type="number" [(ngModel)]="cantidad" ></ion-input> 
            <ion-icon (click)="cantidad=cantidad+1" name="chevron-forward-outline"></ion-icon>
            <ion-button clear >Añadir al carrito</ion-button>
        </div>
        
        <h5 class="desctitle">Descripción:</h5>
        <p class="desc" [ngStyle]="{ 'white-space': 'pre-wrap' }">
            Pollo asado pollo asado pollo asadopollo asadopollo asadopollo 
            asadopollo asadopollo asadopollo asadopollo asadopollo asadopollo 
            asadopollo asadopollo asadopollo asadopollo asado.
            <br/>
            <br/>
            Peso: 500g
            <br/>
            Ingredientes:
            <br/>
            - Pollo
            <br/>
            - Aceite
            <br/>
            - Sal
            <br/>
            <br/>
            Un plato delicioso.
        </p>
        <div class="div2">
          <div class="empr">
              <ion-avatar item-start>
                <img src="./assets/img/prueba3.png">
              </ion-avatar>
              <span>Juan Perez Perez</span>
          </div>

          <div style="margin-left: auto;display: flex; align-items: center;">
              <ion-icon name="star" style="color:#feb92f"></ion-icon>
              <ion-icon name="star" style="color:#feb92f"></ion-icon>
              <ion-icon name="star" style="color:#feb92f"></ion-icon>
              <ion-icon name="star" color="medium"></ion-icon>
              <ion-icon name="star" color="medium"></ion-icon>
              <span class="spanNValoracion">(20)</span>
            </div>
        </div>
      </div>

      <div>
        <ion-item style="--padding-end: 0;--padding-start: 0;--min-height: 10px;"></ion-item>
        <ion-textarea [(ngModel)]="commentText" class="msg-textarea" placeholder="Escribe tu comentario" lineHeight="60" maxExpand="20"></ion-textarea>
        <div style="display: flex; margin: 5px;">
            <ion-icon *ngFor="let i of [1,2,3,4,5]" (click)="commentStar=i" name="star" [ngStyle]="styleStar(20, commentStar, i)"></ion-icon>
          </div>
        <ion-button  [disabled]="commentText?.trim().length<2"
        (click)="sendComment()" class="btn-msg" color="black" clear full>Comentar</ion-button>
          
        <ion-item style="--padding-end: 16px;">
            Comentarios
        </ion-item>

        <ion-list no-line>
            <ion-card *ngFor="let comment of comments">
                <ion-card-header class="empr">
                    <ion-avatar item-start>
                        <img src="./assets/img/prueba2.png">
                      </ion-avatar>
                      <span> {{comment.name}}</span>
                      <div style="margin-left: auto;">
                          <ion-icon *ngFor="let i of [1,2,3,4,5]" name="star" [ngStyle]="styleStar(14, comment.star, i)"></ion-icon>
                        </div>
                </ion-card-header>
                <ion-card-content>
                    {{comment.text}}
                  <br/>
                  <div style="display: flex;align-items: center;justify-content: flex-end;">
                      <ion-icon name="time-outline"></ion-icon>
                    {{comment.date}}
                  </div>
                </ion-card-content>
            </ion-card>
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadComment($event)">
                <ion-infinite-scroll-content
                  loadingSpinner="bubbles"
                  loadingText="Cargando más comentarios...">
                </ion-infinite-scroll-content>
              </ion-infinite-scroll>
          </ion-list>
      </div>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab>
          <ion-fab-button (click)="message()" color="primary">
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
</ion-content>
