<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button clear color="dark" (click)="dismiss()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>Cambiar contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content margin>
      <ion-avatar style="width: 100%;text-align: center;">
      </ion-avatar>
      <form #form="ngForm" (ngSubmit)="change(form)" method="post">
        <ion-item>
          <ion-label position="floating">Contraseña actual</ion-label>
          <ion-input ngModel type="password" name="old_password"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input ngModel type="password" name="new_password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Confirmar nueva contraseña</ion-label>
            <ion-input ngModel type="password" name="renew_password"></ion-input>
          </ion-item>
      
        <p text-right ></p>
      
        <ion-button type="submit" expand="full" color="primary">Cambiar contraseña</ion-button>
      </form>
    
    </ion-content>
  
