<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none" class="icoFav"><div><ion-icon  name="fast-food-outline"></ion-icon>Mis Productos</div></ion-item>
    <ion-buttons slot="end">
      <ion-icon  class="btnCartTop"  (click)="onAddProduct()"  name="add-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher> 
    <ion-list no-lines class="listProduct" *ngIf="foods != null">
        <app-eat-item [styleCardContent]="item.active? styleCardContentActive : styleCardContentDesactive" *ngFor="let item of foods" textLeft="" textRight="" [item]="item" (click)="onClickProduct(item)"></app-eat-item>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Cargando más productos...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
    </ion-list>

    <ion-list class="skeletonFoods" *ngIf="foods == null">
        <ion-card  *ngFor="let num of [0,1,2,4,5]">
            <ion-card-content>
            <ion-thumbnail slot="start">
              <ion-skeleton-text style="line-height: 46px;"></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
            </ion-label>
            </ion-card-content>
        </ion-card>
      </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab>
        <ion-fab-button color="primary">
          <ion-icon name="options"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button (click)="stats()" ><ion-icon name="stats-chart"></ion-icon></ion-fab-button>
          <ion-fab-button  (click)="help()" ><ion-icon name="help-circle-outline"></ion-icon></ion-fab-button>
        </ion-fab-list>		
      </ion-fab>
</ion-content> 
