<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-item lines="none" class="icoFav"><div><ion-icon  name="heart"></ion-icon>Favoritos</div></ion-item>
      <ion-buttons slot="end">
        <ion-icon  class="btnCartTop"  (click)="onClickCardTop()"  name="cart-outline"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher> 
    <ion-list no-lines class="listProduct" *ngIf="foods != null">
        <app-eat-item (click)="onClickProduct(item)" (onSwipeLeft)="onSwipeLeft(item)" (onSwipeRight)="onSwipeRight(item)" [item]="item" *ngFor="let item of foods" ></app-eat-item>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Cargando más productos...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
    </ion-list>

    <ion-list class="skeletonFoods" *ngIf="foods == null">
        <ion-card  *ngFor="let num of [0,1,2,4,5]">
            <ion-card-content>
            <ion-thumbnail slot="start">
              <ion-skeleton-text style="line-height: 46px;"></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
            </ion-label>
            </ion-card-content>
        </ion-card>
      </ion-list>
</ion-content> 
