<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!onSearch">ATuPuerta</ion-title>
    <ion-input *ngIf="onSearch" placeholder="Buscar" class="onSearch"></ion-input>
    <ion-buttons slot="end">
      <ion-icon class="btnCartTop" (click)="onSearch = !onSearch" name="search-outline"></ion-icon>
      <ion-icon *ngIf="!onSearch" class="btnCartTop" (click)="onClickCardTop()" name="cart-outline"></ion-icon>
      <!-- <ion-badge item-end>0</ion-badge> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager class="HomeSlide" [options]="slideHomeOpts" >
    <ion-slide [ngStyle]="background()">
        <h1>My Slide 1</h1>
    </ion-slide>
    <ion-slide [ngStyle]="background()"> 
      <h1>My Slide 2</h1>
    </ion-slide>
    <ion-slide [ngStyle]="background()">
      <h1>My Slide 3</h1>
    </ion-slide>
  </ion-slides>

  <div style="display: flex">
  <div style="width: 8%;position: absolute;z-index: 10;left: 0;" (click)="slideCatPrev()">
      <ion-img  class="flechaCat" src="./assets/icon/Flecha-Izquierda.png" ></ion-img>
    </div>
  <ion-slides #slidesCat pager-inner fade class="CategoriasSlide" [options]="slideCategoriasOpts" >
      <ion-slide *ngFor="let item of [1,2,3,1,2,3]" >
            <ion-grid no-padding [ngStyle]="categorias[item-1].style" (click)="onClickCat(categorias[item-1].title)"> 
                <ion-row class="imageCat" [ngStyle]="backgroundCat(item)" >
                    <!-- <ion-img style="" src="./assets/img/prueba.png"></ion-img> -->
                </ion-row>
                <ion-row >
                    <p class="text">{{categorias[item-1].title}}</p>
                </ion-row>
            </ion-grid>
      </ion-slide>
    </ion-slides>
    <div style="width: 8%;position: absolute;z-index: 10;right: 0;" (click)="slideCatNext2()">
        <ion-img class="flechaCat" src="./assets/icon/Flecha-derecha.png"></ion-img>
      </div>
     </div>

     <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher> 
    <ion-list *ngIf="foods != null" no-lines class="listProduct">
        <app-eat-item (click)="onClickProduct(item)" (onSwipeLeft)="onSwipeLeft(item)" (onSwipeRight)="onSwipeRight(item)" [item]="item" *ngFor="let item of foods" ></app-eat-item>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Cargando más productos...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
    </ion-list>

    <ion-list class="skeletonFoods" *ngIf="foods == null">
      <ion-card  *ngFor="let num of [0,1,2]">
          <ion-card-content>
          <ion-thumbnail slot="start">
            <ion-skeleton-text style="line-height: 46px;"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
              <h3>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
          </ion-label>
          </ion-card-content>
      </ion-card>
    </ion-list>
    
</ion-content>
