.product ion-card-content {
    display: flex;
}

.product ion-avatar{
    --border-radius: 8px;
    margin-right: 8px;
}


.title{ 
    color: #2e2e2e;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.price{
    color: #429b0b;
    white-space: nowrap;
    line-height: 16px;
    list-style: none;
    font-size: 12px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.price span{
    position: absolute;
    right: 16px;
}

ion-card{
    margin-top: 3px;
}