ion-card-content{
    touch-action: auto !important;
}

.product{
    margin-left: 0;
    margin-right: 0;
}
.product ion-card-content {
    display: flex;
}

.product ion-avatar{
    --border-radius: 8px;
    margin-right: 8px;
    min-width: 64px;
}


.title{ 
    color: #2e2e2e;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.price{
    color: #429b0b;
    white-space: nowrap;
    line-height: 16px;
    list-style: none;
    font-size: 12px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    margin-top: 3px;
}

.price .spanPrice{
    position: absolute;
    right: 16px;
}

ion-card{
    margin-top: 3px;
}

.spanNValoracion{
    color: #92949c; 
    font-weight: 400;
}

.divCard{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
}

.iconLeft, .iconRight{
    position: absolute;
    color: white;
    margin-top: 30px;
    font-style: oblique;
    width: 30px;
    height: 30px;
}

.iconLeft{
    margin-left: 15px;
}

.iconRight{
    right: 25px;
}

.icoFav{
    color: #feb92f;
}