<div #div class="divCard">
  <ion-icon #iconLeft class="iconLeft" name="{{item?.is_favorite? 'heart-outline' : 'heart'}}"></ion-icon>
  <ion-icon #iconRight class="iconRight" name="cart-outline"></ion-icon>
<ion-card class="product" #elem>
    <ion-card-content [ngStyle]="styleCardContent" (pan)="panEvent($event)" (panStart)="panStart($event)" (panEnd)="panEnd($event)" >
        <ion-avatar item-start>
            <img src="./assets/img/prueba3.png">
          </ion-avatar>
          <div>
            <h4 class="title"  >
              {{item?.title}}
              <ion-icon *ngIf="item.is_favorite" class="icoFav" name="{{item?.is_favorite? 'heart' : 'heart-outline'}}"></ion-icon>
              </h4> 
              <span class="labels" >
                {{ trunDesc(item?.description) }}
              </span>
              <br/>
              <div class="price">
                  <div> 
                    <!-- <ion-icon name="star" style="color:#feb92f"></ion-icon>
                    <ion-icon name="star" style="color:#feb92f"></ion-icon>
                    <ion-icon name="star" style="color:#feb92f"></ion-icon>
                    <ion-icon name="star" color="medium"></ion-icon>
                    <ion-icon name="star" color="medium"></ion-icon> -->
                    <ion-icon *ngFor="let i of [1,2,3,4,5]" name="star" [ngStyle]="styleStar(12, item.star, i)"></ion-icon>
                    <span class="spanNValoracion">({{item?.cant_comments}})</span>
                  </div>
                  <span class="spanPrice">{{item?.price}} {{item?.moneyType}}</span>
              </div>
            </div>
    </ion-card-content>
</ion-card>
</div>