<ion-card class="product" >
    <ion-card-content >
        <ion-avatar item-start>
            <img src="./assets/img/prueba3.png">
          </ion-avatar>
          <div>
            <h4 class="title"  >
              Pollo asado
              </h4> 
              <span class="labels" >
                 Short descriptions
              </span>
              <br/>
              <div class="price">
                <span>$50.00 CUP</span>
              </div>
            </div>
    </ion-card-content>
</ion-card>